section{
    padding: 134px 0;
}
.about{
    background-image:url(../images/about@2x.jpg);
    text-align: right;
}
.about-page-content{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-page-content1{
    background: url(../images/about-background1.png) #fff no-repeat right bottom;
}
.about-page-content p:first-child{
    margin-bottom: 100px;
}
.about-page-content h2{
    background-color: #FFF100;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 900;
    position: relative;
    font-size: 30px;
    margin-bottom: 50px;
}
.about-page-content h2:after{
    display: block;
    content: '';
    width: 120px;
    height: 1px;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-90%,50%);
}
.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list dl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 43%;
    margin-top: 50px;
}
.list dl dt{
    width: 34%;
    border-top: 1px solid #DEDEDE;
    padding-top: 40px;
    padding-bottom: 40px;
}
.list dl dd{
    width: 66%;
    border-top: 1px solid #DEDEDE;
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-page-content3{
    background: url(../images/about-background2.png) #fff no-repeat left top;
}
.google-map{
    max-width: 1170px;
    margin: 0 auto;
}
.table{
    max-width: 970px;
    margin: 0 auto;
}
.table table{
    width: 100%;
}
.table thead th{
    color: #fff;
    background-color: #333;
    text-align: center;
    padding: 9px 30px;
    border: 1px solid #fff;
    font-size: 1.5rem;
}
.table tbody td{
    padding: 20px 30px;
    text-align: left;
    background-color: #fafafa;
    border: 1px solid #fff;
}
.lineprize{
    max-width: 370px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.lineprize span{
    display: block;
    position: relative;
    padding: 5px;
    background-color: #fff;
}
.lineprize:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: -99;
    background-color: #000000;
}

/* .grid-img{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(7,1fr);
    max-width: 100%;
}
.grid-img img{
    width: 100%;
}
.img-01{
    grid-column: span 4;
    grid-row: span 3;
}
.img-02{
    grid-column: span 3;
    grid-row: span 4;
}
.img-03{
    grid-column: span 2;
    grid-row: span 2;
}
.img-04{
    grid-column: span 3;
    grid-row: span 3;
}
.img-05{
    grid-column: span 4;
    grid-row: span 4;
}
.img-06{
    grid-column: span 3;
    grid-row: span 3;
}
.img-07{
    grid-column: span 2;
    grid-row: span 5;
}
.img-08{
    grid-column: span 3;
    grid-row: span 4;
} */
.grid-img{
    margin-top: 100px;
    max-width: 100%;
}
.grid-img img{
    width: 100%;
}
.section5-h2{
    background-color: #FFF100;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 50px;
}
.about-page-content5{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background: url(../images/about-background3.png) right bottom no-repeat;
}
.about-page-content5 .container{
    text-align: center;
}
.list-section5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    line-height: 2;
}
.list-section5 dt{
    border-bottom: 1px solid #DEDEDE;
    padding: 20px 40px;
    margin-top: 50px;
}
.list-section5 dd{
    padding: 0 40px;
}